body{
    background-color:lightgray
}
a{
    text-decoration: none;
    border-bottom: 2px solid rgb(8, 177, 233);
}
.fa{
    color: rgba(0, 68, 255, 0.664);
}
.box-center{
    background-color: white;
    padding: 50px 10px;
    margin: 30px 10px;
}
.text{
    margin: 10px 0px;
}
.box{
    padding: 60px;
}